<!DOCTYPE html>
<html lang="es" ng-app="webApp">
<head>
    <title>Formulario 08 Automotor, Transferencia Digital, Presupuesto Costos, Trámites Online, Turnos | DNRPA</title>
    <meta name="description" content="Podes acceder a la Transferencia Digital, Formulario 08 Digital. Trámites Online ¡Ahorrá tiempo! Turnos un registro seccional. Informes de dominio e históricos 100% Online. Calculá los costos para la inscripción de un vehículo 0 KM o la transferencia de un vehículo usado. Retiro de Trámites.">
    <meta name="author" content="DNRPA, Ministerio de Justicia - Presidencia de la Nación">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="Content/img/favicon.ico">

    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <!-- build:css Content/poncho.min.css -->
    <link href="Content/roboto-fontface.css" rel="stylesheet">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/font-awesome.css" rel="stylesheet" />
    <link href="Content/poncho.css" rel="stylesheet">
    <link href="Content/icono-arg.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:css Content/tools.min.css -->
    <link href="Scripts/SmartMenus/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <link href="Content/select.css" rel="stylesheet" />
    <link href="Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="Content/angular-bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="Content/shift-calendar.css" rel="stylesheet" />
    <link href="Content/bootstrap-star-rating-master/css/star-rating.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:css Content/DataTables/css/datatables.min.css -->
    <link href="Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="Scripts/Angular-Datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:css Content/site.min.css -->
    <link href="Content/Site.css" rel="stylesheet" />
    <!-- endbuild -->
</head>
<body ng-cloak ng-controller="appController as appCtrl">
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-top navbar-default" role="navigation">
            <div class="container">
                <!--<div class="navbar-header">
                    <a class="navbar-brand" href="#!/">
                        <img alt="Sistema Integral de Trámites Electrónicos - DNRPA" src="Content/img/dnrpa-azul.png" height="50">
                        <h1 class="sr-only">
                            Sistema Integral de Trámites Electrónicos <small>DNRPA</small>
                        </h1>
                    </a>
                </div>-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#!/" class="navbar-brand" title="Dirección Nacional de los Registros Nacionales de la Propiedad del Automotor y de Créditos Prendarios">
                        <img alt="Sistema Integral de Trámites Electrónicos - DNRPA" src="Content/img/dnrpa-azul.png" height="50">
                        <h1 class="sr-only">
                            Sistema Integral de Trámites Electrónicos <small>DNRPA</small>
                        </h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#!/" class="navbar-link">Inicio</a></li>
                        <!--<li><a href="#!/asistencia" class="navbar-link">Ayuda</a></li>-->
                        <!--<li><a href="javascript:;" class="navbar-link" ng-click="appCtrl.iniciarInformeWeb()">Informes Web</a></li>-->
                        <!--<li><a href="javascript:;" class="navbar-link" ng-click="appCtrl.retirarDocumentacion()">Retiro de Trámites</a></li>-->
                        <!--<li><a href="https://www2.jus.gov.ar/td/" class="navbar-link">Transferencia Digital</a></li>-->
                        <!--<li><a href="javascript:;" class="navbar-link" ng-click="appCtrl.gestionarTurno()">Turnos</a></li>-->
                        <!--<li><a href="/poncho/docs/">Documentación</a></li>
                        <li><a href="/poncho/docs/componentes.html">Componentes</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ejemplos <b class="caret"></b></a>
                            <ul class="dropdown-menu submenu" role="menu">
                                <li><a href="/poncho/ejemplos/pagina.html">Página</a></li>
                                <li><a href="/poncho/ejemplos/pagina-area.html">Página de área</a></li>
                                <li><a href="/poncho/ejemplos/pagina-navegacion.html">Página con navegación</a></li>
                                <li><a href="/poncho/ejemplos/noticia.html">Noticia</a></li>
                                <li><a href="/poncho/ejemplos/pagina-sticky-footer.html">Pie de página inferior</a></li>
                            </ul>
                        </li>
                        <li><a href="/iconos">Iconos</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- MAIN -->
    <!--DISABLE
    https://developers.google.com/recaptcha/docs/faq
    PRD:6Ld5ZjUUAAAAAJ7zlNNbYOQ9REJyT9LeFH13N-We
    TEST:6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
    RE CAPTCHA-->
    <main role="main">
        <div id="cuerpo" class="container">
            <h1 ng-if="appCtrl.titulo">{{appCtrl.titulo}}</h1>
            <p ng-if="appCtrl.subtitulo" ng-bind-html="appCtrl.subtitulo"></p>
            <div ng-view></div>
            <div class="no-print g-recaptcha"
                 data-sitekey="6Ld5ZjUUAAAAAJ7zlNNbYOQ9REJyT9LeFH13N-We"
                 data-callback="onSubmit"
                 data-size="invisible">
            </div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="no-print main-footer sticky-footer">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-sm-5">
                    <img class="image-responsive col-sm-4" alt="Ministerio de Justicia - Presidencia de la Nación" src="Content/img/jus_logo.png">
                    </div>
                <div class="col-md-3 col-sm-6">
                    <ul>
                      
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="mailto:mesadeayuda@dnrpa.gov.ar" target="_top">Contacto</a></li>
                        <li><a href="http://www.dnrpa.gov.ar/" title="Dirección Nacional de los Registros Nacionales de la Propiedad del Automotor y de Créditos Prendarios">DNRPA</a></li>
                        <li><a href="https://www.argentina.gob.ar/justicia">Ministerio de Justicia de la Nación</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--JAVASCRIPT-->
    <script src="https://www.google.com/recaptcha/api.js?hl=es-419" async defer></script>
    <script>
        var recaptchaCallback = null;
        function onSubmit(token) {
            recaptchaCallback(token);
        }
    </script>

    <script src="Scripts/jquery-2.2.4.min.js"></script>
    <!-- build:js Scripts/tools.min.js -->
    <script src="Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="Scripts/SmartMenus/jquery.smartmenus.js"></script>
    <script type="text/javascript" src="Scripts/SmartMenus/addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>
    <script src="Scripts/moment-with-locales.js"></script>
    <script src="Scripts/bootstrap-datetimepicker.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/i18n/angular-locale_es-ar.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/angular-storage.js"></script>
    <script src="Scripts/angular-busy.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="Scripts/select.js"></script>
    <script src="Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="Scripts/Angular-Datatables/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="Scripts/Angular-Datatables/angular-datatables.js"></script>
    <script src="Scripts/angular-ui/angular-bootstrap-toggle.min.js"></script>
    <script src="Scripts/jsoneditor.js"></script>
    <script src="Scripts/jsoneditor-es.js"></script>
    <script src="Scripts/jsoneditor-extend.js"></script>
    <script src="Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="Scripts/jquery.inputmask/inputmask.extensions.js"></script>
    <script src="Scripts/jquery.inputmask/inputmask.date.extensions.js"></script>
    <script src="Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>
    <script src="Scripts/turnos/shift.calendar.js"></script>
    <script src="Content/bootstrap-star-rating-master/js/star-rating.js"></script>
    <!-- endbuild -->
    <!-- build:js Config/env.js -->
    <script src="Config/env.js"></script>
    <!-- endbuild -->
    <!-- build:js Scripts/site.min.js -->
    <script src="Scripts/site.js?v=3.0.6"></script>

    <script src="app/app.js?v=3.0.6"></script>
    <script src="app/app.route.js?v=3.0.6"></script>
    <script src="app/app.security.js?v=3.0.6"></script>
        <script src="app/app.validation.js?v=3.0.6"></script>

    <script src="app/directives/datetimePicker.js?v=3.0.6"></script>
    <script src="app/directives/smartmenus.js?v=3.0.6"></script>
    <script src="app/directives/cuitValidator.js?v=3.0.6"></script>
    <script src="app/directives/ngMatch.js?v=3.0.6"></script>
    <script src="app/directives/jsonEditor.js?v=3.0.6"></script>
    <script src="app/directives/shiftCalendar08D.js?v=3.0.6"></script>
    <script src="app/directives/shiftCalendarSite.js?v=3.0.6"></script>
    <script src="app/directives/inputmask.js?v=3.0.6"></script>

    <script src="app/services/app.services.js?v=3.0.6"></script>
    <script src="app/services/csrfService.js?v=3.0.6"></script>
    <script src="app/services/csrfInterceptor.js?v=3.0.6"></script>
    <script src="app/services/homeService.js?v=3.0.6"></script>
    <script src="app/services/formulario08DService.js?v=3.0.6"></script>
    <script src="app/services/titularService.js?v=3.0.6"></script>
    <script src="app/services/turnoService.js?v=3.0.6"></script>
    <script src="app/services/clienteService.js?v=3.0.6"></script>
    <script src="app/services/compradorService.js?v=3.0.6"></script>
    <script src="app/services/provinciaService.js?v=3.0.6"></script>
    <script src="app/services/localidadService.js?v=3.0.6"></script>
    <script src="app/services/fomulario01DService.js?v=3.0.6"></script>
    <script src="app/services/afipService.js?v=3.0.6"></script>
    <script src="app/services/tipoTramiteService.js?v=3.0.6"></script>
    <script src="app/services/siteService.js?v=3.0.6"></script>
    <script src="app/services/vehiculoService.js?v=3.0.6"></script>
    <script src="app/services/registroService.js?v=3.0.6"></script>
    <script src="app/services/recuperarService.js?v=3.0.6"></script>
    <script src="app/services/consultaEstadoService.js?v=3.0.6"></script>
    <script src="app/services/encuestaService.js?v=3.0.6"></script>
    <script src="app/services/precargaService.js?v=3.0.6"></script>
    <script src="app/services/tramitesDigitalesServices.js?v=3.0.6"></script>
    <script src="app/services/escribanos.services.js?v=3.0.6"></script>
    <!--08D-->
    <script src="app/modules/viewmodel/Vendedor.js?v=3.0.6"></script>
    <script src="app/modules/viewmodel/CalculadorViewModel.js?v=3.0.6"></script>

    <script src="app/modules/home/homeController.js?v=3.0.6"></script>
    <script src="app/modules/home/aclaracionesController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/certificadoController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/vendedoresController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/titularesController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/gravamenesController.js?v=3.0.6"></script>
    <script src="app/modules/calculador/calculadorController.js?v=3.0.6"></script>

    <script src="app/modules/vendedores/vendedorphController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/vendedorpjController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/vendedorshController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/finalVendedorController.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/certificado04Controller.js?v=3.0.6"></script>
    <script src="app/modules/vendedores/seleccionarRegistro08Controller.js?v=3.0.6"></script>

    <script src="app/modules/compradores/compradorController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/compradoresController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/compradorphController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/compradorpjController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/compradorshController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/gravamenesController.js?v=3.0.6"></script>
    <script src="app/modules/compradores/finalCompradorController.js?v=3.0.6"></script>

    <script src="app/modules/recuperacion/recuperarController.js?v=3.0.6"></script>
    <!--END:08D-->
    <!--SITE 2.0-->
    <script src="app/modules/viewmodel/solicitud.js?v=3.0.6"></script>

    <script src="app/directives/resumen.js?v=3.0.6"></script>

    <script src="app/modules/inicio/inicioController.js?v=3.0.6"></script>
    <script src="app/modules/inicio/informesWebController.js?v=3.0.6"></script>
    <script src="app/modules/inicio/retiroDeTramitesController.js?v=3.0.6"></script>
    <script src="app/modules/inicio/turnosController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/solicitanteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/solicitanteAsociadoController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/accionController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/iniciarTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/identificarDominioController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/seleccionarTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/tramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/turnoController.js?v=3.0.6"></script>
    <script src="app/modules/turnos/turnoController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/retirarTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/pagoController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/finalizarController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/enviarEmailController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/cancelarTurnoController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/seleccionarRegistroController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/seleccionarRegistroFirmaDigitalController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/seleccionarRegistroReincidenciaController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/identificarTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/estadoTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/identificarRegistroController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/precargaController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/concesionarioController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/acreedorPrendarioController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/modificarTurnoController.js?v=3.0.6"></script>
    <script src="app/modules/mandatario/indexController.js?v=3.0.6"></script>
    <script src="app/modules/mandatario/tableroController.js?v=3.0.6"></script>
    <script src="app/modules/escribania/indexEsController.js?v=3.0.6"></script>
    <script src="app/modules/escribania/tableroController.js?v=3.0.6"></script>
    <script src="app/modules/consultaTramite/consultaTramiteController.js?v=3.0.6"></script>
    <script src="app/modules/consultaTramite/mostrarPdfController.js?v=3.0.6"></script>
    <script src="app/modules/encuestas/encuestaController.js?v=3.0.6"></script>
    <script src="app/modules/solicitudes/finalizarRsController.js?v=3.0.6"></script>
    <script src="app/modules/asistencia/asistenciaController.js?v=3.0.6"></script>

    <!--ESTIMADOR-->
    <script src="app/modules/estimador/estimadorController.js?v=3.0.6"></script>
    <script src="app/modules/estimador/presupuestoController.js?v=3.0.6"></script>
    <script src="app/services/estimadorService.js?v=3.0.6"></script>

    <!--SITE 2.1-->
    <script src="app/modules/tramitesOnline/tramiteOnlineController.js?v=3.0.6"></script>
    <script src="app/services/tramiteOnlineService.js?v=3.0.6"></script>
    <!-- endbuild -->
</body>
</html>